# pycharm
*.xml
*/.idea/
.idea/
*.pyc
*./dataset/.txt
*.rar

# dataset
dataset/MobiFall_Dataset_v2.0/
*./dataset/*.txt
./dataset
./dataset/MobiFall_Dataset_v2.0.rar
./dataset/MobiFall_Dataset_v2/

# train logs

# model
*ckpt*
checkpoint
*.hdf5
./model/*.hd5f

.ipynb_checkpoints/
venv/